<!docutype html>
<html lang="ko">
<!-- S: head -->
<include src="../layout/head2.html" title="To do list"></include>
<!-- E: head -->
<body>
<!-- S: header -->
<include src="../layout/header.html"></include>
<!-- E: header -->
<div id="wrap">
    <div class="container">
        <div class="title-area clearfix">
            <h2>Design Select Box</h2>
            <div class="breadcrumb">03  >  design select box</div>
        </div>

        <div class="design-select">
            <div class="selet-inner">
                <div class="select-title">
                    <ul class="select-content">
                        <li class="select-contents">option 1</li>
                        <li class="select-contents">option 2</li>
                        <li class="select-contents">option 3</li>
                        <li class="select-contents">option 4</li>
                        <li class="select-contents">option 5</li>
                    </ul>
                </div>
            </div>
        </div>


        </div>
    </div>
</div>
<!-- S: footer -->
<include src="../layout/footer.html"></include>
<!-- E: footer -->
</body>
</html>