<!docutype html>
<html lang="ko">
<!-- S: head -->
<include src="../layout/head2.html" title="Pagenation"></include>
<!-- E: head -->
<body>
<!-- S: header -->
<include src="../layout/header.html"></include>
<!-- E: header -->
<div id="wrap">
    <div class="container">
        <div class="title-area clearfix">
            <h2>pagenation</h2>
            <div class="breadcrumb">01  >  pagenation</div>
        </div>
        <div class="pagenation">
            <div class="page-index">
                <ul>
                    <li><a href="#!" class="first"><i class="material-icons">arrow_left</i></a></li>
                    <li><a href="#!" class="prev"><i class="material-icons">chevron_left</i></a></li>
                    <li><a href="#!" class="page">1</a></li>
                    <li><a href="#!" class="page">2</a></li>
                    <li><a href="#!" class="page">3</a></li>
                    <li><a href="#!" class="page">4</a></li>
                    <li><a href="#!" class="page">5</a></li>
                    <li><a href="#!" class="page">6</a></li>
                    <li><a href="#!" class="page">7</a></li>
                    <li><a href="#!" class="page">8</a></li>
                    <li><a href="#!" class="page">9</a></li>
                    <li><a href="#!" class="page">10</a></li>
                    <li><a href="#!" class="next"><i class="material-icons">chevron_right</i></a></li>
                    <li><a href="#!" class="end"><i class="material-icons">arrow_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- S: footer -->
    <include src="../layout/footer.html"></include>
<!-- E: footer -->
</body>
</html>