/**
 Main page style
*/


.lib_list {
  width: 100%;
  ul {
    li {
      height: 30px;
      background: #dddddd;
      a {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
    }
  }
}