<header class="header clearfix">
    <div class="container">
        <h1 class="home"><a href="#!"><i class="material-icons">home</i></a></h1>
        <nav>
            <ul>
                <li class="nav-item"><a href="./component/component_pages.html">01</a></li>
                <li class="nav-item"><a href="./component/component_pages.html">02</a></li>
                <li class="nav-item"><a href="./component/component_pages.html">03</a></li>
                <li class="nav-item"><a href="./component/component_pages.html">04</a></li>
                <li class="nav-item"><a href="./component/component_pages.html">05</a></li>
                <li class="nav-item"><a href="./component/component_pages.html">06</a></li>
            </ul>
        </nav>
    </div>
</header>