/* Pagenation */

.pagenation {
  margin: 50px auto;
  width: 520px;
  .page-index {
    height: 20px;
    ul {
      li {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        a {
          font-size: 12px;
          }
        .page {
          background: #ededed;
          color: #333;
          &:hover {
            background: #333;
            color: #999;
          }
        }
      }
    }
  }
}